@import "../node_modules/bootstrap/scss/bootstrap";

.center-nav {
    text-align: center;
    padding: 2rem;
}

.event-page-list {
    list-style: none;
    padding: 0;
}

.event-table {
    margin-bottom: 100px;
}

.logo-image {
    max-height: 120px;

    @media (max-width: 768px) {
        max-height: 80px;
    }
}

.add-btn {
    margin: 10px 0;
    font-weight: 500;
}

.event-cell {
    background: white;
    transition: box-shadow 0.1s ease-in;
}

.event-cell:hover {
    box-shadow: 1px 1px 3px #aaa;
}